<footer th:fragment="footer" id="footer" class="navbar-fixed-bottom">
    <div class="container modal-footer" id="modal-footer">
        <div class="col-md-6" style="text-align: left;">
            <a href="http://www.facebook.com" target="_blank" class="fa fa-facebook-square" aria-hidden="true"></a>
            <a href="http://www.twitter.com" target="_blank" class="fa fa-twitter-square" aria-hidden="true"></a>
            <a href="https://github.com/DenisTrenchev" target="_blank" class="fa fa-github-square" aria-hidden="true"></a>
        </div>
        <div class="col-md-6">
            greenDT and frosty
        </div>
    </div>
</footer>
