<main>
    <div class="container body-content" id="bg">
    <h1 id="title">Categories</h1>
        <div class="row" >
            <div class="col-md-12" th:each="category : ${categories}">
                <header>
                    <p>
                    <a th:href="@{/category/{id}(id=${category.name})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                    </a>
                    </p>
                </header>
            </div>
        </div>
    </div>
</main>